{% extends 'base.html' %}
{% load filtros %}

{% block conteudo %}
<div class="card card-login mx-auto mt-5">
        <div class="card-header">Cadastro de usuario</div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-label-group">
                        <!--<input type="text" id="inputUser" class="form-control" placeholder="Usuário" required="required" autofocus="autofocus">-->
                        {{ form_usuario.username | addclass:'form-control' }}
                        <label for="inputUser">Usuário</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <!--<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="required">-->
                        {{ form_usuario.password1 | addclass:'form-control' }}
                        <label for="inputPassword">Senha</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <!--<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="required">-->
                        {{ form_usuario.password2 | addclass:'form-control' }}
                        <label for="inputPassword">Confirmação de senha</label>
                    </div>
                </div>

                <input class="btn btn-primary btn-block" type="submit" value="Cadastrar">
            </form>

{% endblock conteudo %}