{% extends 'base.html' %}
{% load filtros %}

<html lang="en">
<head>
    <title>Area de teste</title>
</head>
<body>


<script>
    $(function(e) {
        "use strict";
        $(".date-inputmask").inputmask("dd/mm/yyyy"),
            $(".phone-inputmask").inputmask("(99) 99999-9999"),
            $(".international-inputmask").inputmask("+99(99)99999-9999"),
            $(".cpf-inputmask").inputmask("999.999.999-99"),
            $(".cep-inputmask").inputmask("99999-999"),
            $(".cc-inputmask").inputmask("9999 9999 9999 9999"),
            $(".cnpj-inputmask").inputmask("99.999.999/9999-99"),
            $(".isbn-inputmask").inputmask("999-99-999-9999-9"),
            $(".currency-inputmask").inputmask("$9999"),
            $(".percentage-inputmask").inputmask("99%"),
            $(".decimal-inputmask").inputmask({
                alias: "decimal",
                radixPoint: "."
            }),

            $(".email-inputmask").inputmask({
                mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[*{2,6}][*{1,2}].*{1,}[.*{2,6}][.*{1,2}]",
                greedy: !1,
                onBeforePaste: function(n, a) {
                    return (e = e.toLowerCase()).replace("mailto:", "")
                },
                definitions: {
                    "*": {
                        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~/-]",
                        cardinality: 1,
                        casing: "lower"
                    }
                }
            })
    });

</script>
{% block conteudo %}


<form method="post" class="card-header">
  {% csrf_token %}
    <h4>Cadastro de cliente</h4>
  <div class="form-row">
    <div class="form-group col-md-6 ">
      <label>Campo</label>
      {{ formcliente.nome | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-2 date-imputmask">
      <label>cpf</label>
      {{ formcliente.nome | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-2">
      <label>Campo</label>
      {{ formcliente.nome | addclass:'form-control' }}
    </div>


  </div>
  <div class="form-group">
    <label>Campo</label>
    {{ formcliente.nome | addclass:'form-control' }}
  </div>
  <div class="form-group">
    <label>Campo</label>
    {{ formcliente.nome | addclass:'form-control' }}
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Campo</label>
      {{ formcliente.nome | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-6">
      <label>Campo</label>
      {{ formcliente.nome | addclass:'form-control' }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Campo</label>
      {{ formcliente.nome | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-4">
      <label>Campo</label>
      {{ formcliente.nome | addclass:'form-control' }}
    </div>

  </div>
  <input type="submit" class="btn btn-primary" value="Cadastrar">
</form>

</form>



{% endblock conteudo %}
</body>
</html>