{% extends 'base.html' %}
{% block conteudo %}

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i> Veiculos Cadastrados </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Ano</th>
                    <th>Placa</th>
                    <th>Chassi</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                      <th>Marca</th>
                    <th>Modelo</th>
                    <th>Ano</th>
                    <th>Placa</th>
                    <th>Chassi</th>
                  </tr>
                </tfoot>
                <tbody>


                {% for i in listaveiculo %}
                <tr>
                    <td>{{ i.modelo.marca }}</td>
                    <td>{{ i.modelo }}</td>
                    <td>{{ i.ano }}</td>
                    <td>{{ i.placa }}</td>
                    <td>{{ i.chassi }}</td>

                  </tr>
                {% endfor %}

{% endblock conteudo %}