{% extends 'base.html' %}
{% block conteudo %}

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i> Locações Finalizadas</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Cliente</th>
                    <th>Veiculo</th>
                    <th>Data de Locação</th>
                    <th>Data de Retorno</th>
                    <th>Valor alguel</th>
                    <th>data de saida</th>
                    <th>data para receber</th>
                    <th>Data recebimento</th>
                    <th>Ação</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Cliente</th>
                    <th>Veiculo</th>
                      <th>Data de Locação</th>
                      <th>Data de Retorno</th>
                      <th>Valor alguel</th>
                      <th>data de saida</th>
                      <th>data para receber</th>
                    <th>Data recebimento</th>
                    <th>Ação</th>
                  </tr>
                </tfoot>
                <tbody>


                {% for i in listaluguel %}
                <tr>
                    <td>{{ i.cliente }}</td>
                    <td>{{i.veiculo.modelo}} | {{i.veiculo.ano}}</td>
                    <td>{{ i.data_locacao }}</td>
                    <td>{{ i.data_retorno }}</td>
                    <td>{{ i.valor }}</td>
                    <td>{{ i.data_locacao }}</td>
                    <td>{{ i.data_retorno }}</td>
                    <td>{{ i.data_recebimento }}</td>
                    <td><a class="btn btn-primary btn-sm" href="{% url 'receberalguel' i.id %}">Editar</a></td>
                  </tr>
                {% endfor %}

{% endblock conteudo %}