{% extends 'base.html' %}
{%  load filtros %}
{% block conteudo %}

<form method="post" class="card-header">
  {% csrf_token %}
    <div class="text-danger text-center col-md-6"> <h1>Receber Veiculo </h1>
    </div>
    <div class="js-select2 col-md-7">
      <label>Cliente:</label>
      {{ form.cliente | addclass:'form-control'}}
    </div>

    <div class="form-group col-md-7">
      <label>Veiculo:</label>
      {{ form.veiculo| addclass:'form-control' }}
    </div>

    <div class="form-group col-md-7">
      <label>Data para retorno:</label>
      {{ form.data_retorno | addclass:'form-control' }}
    </div>

    <div class="form-group col-md-7">
      <label>Valor:</label>
      {{ form.valor | addclass:'form-control' }}
    </div>

    <div class="form-group col-md-7">
      <label>Data de recebimento:</label>
      {{ form.data_recebimento | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-7">
      <label>Observações:</label>
      {{ form.observacao | addclass:'form-control' }}
    </div>




  <input type="submit" class="btn btn-primary" value="Receber">
</form>
{% endblock conteudo %}